<table class="table table-striped table-bordered table-hover cost_items_table">
  <thead>
    <tr>
      <th class="no">#</th>
      <th class="name">Name</th>
      <th class="single_cost">Price netto</th>
      <th class="vat">Vat</th>
      <th class="factor_type">Factor</th>
      <th class="total_label">Total netto</th>
      <th class="total_brutto_label">Total brutto</th>
      <th class="trashbin"><i class="icon-trash"></i></th>
    </tr>
  </thead>
  <tbody>
    <% index=1 %>
    <%= f.simple_fields_for :cost_items, defaults:   { label: false, wrapper_html: { class: 'cost_item_field' }, 
                                         input_html: { class:'input_cost_item' } } do |builder| %>
      <%= render 'cost_item_fields', f: builder, i: index %>
    <% index+=1; end %>
    <tr>
      <td colspan=5 class="quote_total_label">Total costs:</td>
      <td class="quote_total_value"><%= n_to_pln f.object.total_cost %></td>
      <td class="quote_total_brutto_value"><%= n_to_pln f.object.total_cost_brutto %></td>
      <td></td>
    </tr>
  </tbody>
</table>