<% title "Offer" %>

<p>
  <strong>Name:</strong>
  <%= @offer.name %>
</p>

<p>
  <%= link_to "Edit", edit_offer_path(@offer) %> |
  <%= link_to "Destroy", @offer, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", offers_path %>
</p>
