jQuery(function() {
  // globals
  var number_of_clients = parseInt($('.participants_table_wrapper').find('tr:last').prev('tr').find('td.no').html());
  var customer_type_radio = $('form input[name*="customer_type"][checked=checked]');
  var customer_type = customer_type_radio.val();
  var total_price = calculate_total_price();
  
  // simulate customer type radio click on load in case we are coming back with validation errors
  $(window).load(function (){
    $('.participants_table_wrapper #total_price').html(calculate_total_price());
    if("Client"==customer_type) customer_type_radio.click();
  });

  // Adding and removing Clients

  // Add Client row
  $('form').on('click', '.add_seat_btn', function(event) {
    number_of_clients += 1;
    time = new Date().getTime();
    regexp1 = new RegExp($(this).data('id'), 'g');
    regexp2 = new RegExp('<td class="no">[0-9]+</td>', 'g');
    var new_fields = $(this).data('fields').replace(regexp1, time);
    new_fields = new_fields.replace(regexp2, '<td class="no">'+number_of_clients+'</td>');
    $(this).siblings('table').find('tbody tr:last').before(new_fields);
    $('.participants_table_wrapper #total_price').html(calculate_total_price());
    event.preventDefault();
  });

 // Remove Client row
  $('form').on('click', '.remove_seat_btn', function(event) {
    number_of_clients -= 1;
    // mark destroy field as 1
    $(this).prev('input[type=hidden]').val('1');
    // hide client row
    $(this).closest('tr').hide();
    decrement_indexes($(this).parents('tr'));
    $('.participants_table_wrapper #total_price').html(calculate_total_price());
    event.preventDefault();
  });

  // // Replace bad client row
  // $('form').on('click', '.replace_bad_seat_btn', function(event) {
  //   number_of_clients -= 1;
  //   // mark destroy field as 1
  //   $(this).prev('input[type=hidden]').val('1');
  //   // hide client row
  //   $(this).closest('tr').hide();
  //   decrement_indexes($(this).parents('tr'));
  //   if(number_of_clients==0){
  //     $('form .add_seat_btn').trigger('click');
  //   }
  //   $('form .remove_seat_btn').first().remove();
  //   event.preventDefault();
  // });

  // Add Address box
  $('form').on('click', '.add_address_btn', function(event) {
    if( !$(this).hasClass('disabled') ){
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      $(this).siblings('.address_box.billing').first().find('p.address_name').html("Adres rozliczeniowy: ");
      $(this).siblings('.address_box.billing').first().find('input[name*="default_sending"]').val(false);
      $(this).addClass('disabled');
      //$(this).hide();
    }
    event.preventDefault();
  });

  // Remove Address box
  $('form').on('click', '.remove_address_btn', function(event) {
    // mark destroy field as 1
    $(this).prev('input[type=hidden]').val('1');
    // hide address div
    $(this).closest('div').hide();
    $(this).parent().next('.add_address_btn').removeClass('disabled');
    //$(this).parent().next('.add_address_btn').show();
    $(this).parent().siblings('.address_box').first().find('p.address_name').html("Adres rozliczeniowy i korespondencyjny: ");
    $(this).parent().siblings('.address_box').first().find('input[name*="default_sending"]').val(true);
    event.preventDefault();
  });

  // Add Coordinator box
  $('form').on('click', '.add_coordinator_btn', function(event) {
    if( !$(this).hasClass('disabled') ){
      var regexp, time;
      time = new Date().getTime();
      regexp = new RegExp($(this).data('id'), 'g');
      $(this).before($(this).data('fields').replace(regexp, time));
      $(this).addClass('disabled');
    }
    event.preventDefault();
  });

  // Remove Coordinator box
  $('form').on('click', '.remove_coordinator_btn', function(event) {
    $(this).prev('input[type=hidden]').val('1');
    if(customer_type=="Company"){
      $(this).parent().next('.add_coordinator_btn').removeClass('disabled');
    }
    $(this).closest('div').remove();
    event.preventDefault();
  });

  // Copy client <--> customer data
  $('form').on('change keyup', 'input[name*="name"]', function(event){
    if(customer_type=="Client") { // this is order customer_type field
      regexp = /customer/
      var current_input_name = $(this).attr("name");
      if( regexp.test(current_input_name) ){
        copy_person_attribute("name","customer","participants_table");
      }else{
        copy_person_attribute("name","participants_table","customer");
      }
    }
  });

  $('form').on('change keyup', 'input[name*="phone_1"]', function(event){
    if(customer_type=="Client") { // this is order customer_type field
      regexp = /customer/
      current_input_name = $(this).attr("name");
      if( regexp.test(current_input_name) ){
        copy_person_attribute("phone_1","customer","participants_table");
      }else{
        copy_person_attribute("phone_1","participants_table","customer");
      }
    }
  });

  $('form').on('change keyup', 'input[name*="email"]', function(event){
    if(customer_type=="Client") { // this is order customer_type field
      regexp = /customer/
      current_input_name = $(this).attr("name");
      if( regexp.test(current_input_name) ){
        copy_person_attribute("email","customer","participants_table");
      }else{
        copy_person_attribute("email","participants_table","customer");
      }
    }
  });

  // Toggle Customer type
  $('form').on('click', 'input[name*="customer_type"]', function(event){
    customer_type = $(this).val();
    if("Client" == customer_type) {
      
      // copy data from first participant 
      copy_person_attribute("name","participants_table","customer");
      copy_person_attribute("email","participants_table","customer");
      copy_person_attribute("phone_1","participants_table","customer");

      // disable the fields
      var tel   = $('.customer_wrapper').find('input[name*="phone_1"]');
      var name  = $('.customer_wrapper').find('input[name*="name"]');
      var email = $('.customer_wrapper').find('input[name*="email"]');
      var nip   = $('.customer_wrapper').find('input[name*="nip"]');
      
      // hide the fields
      tel.prop('disabled', true); //tel.parents('.control-group').hide();
      name.prop('disabled', true); 
      email.prop('disabled', true); //email.parents('.control-group').hide();
      nip.prop('disabled', true); nip.parents('.control-group').hide();

      $('.coordinator_wrapper').find('.remove_coordinator_btn').click();
      $('.coordinator_wrapper').find('.add_coordinator_btn').addClass('disabled');

      //$('.coordinator_wrapper').find('.add_coordinator_btn').hide();
    }
    else if ("Company" == customer_type) {
      // show fields
       $('.customer_wrapper').find('input').parents('.control-group').show();
      // enable the fields
      $('.customer_wrapper').find('input').prop('disabled', false);

      // reenable coordinator button 
      $('.coordinator_wrapper').find('.add_coordinator_btn').removeClass('disabled');
    }
  });

  // Toggle Book
  $('form').on('click', ':checkbox[name*="book"]', function(event) {
    
    var book_price     = parseInt($(this).parent().next().html()); 
    var price_cell     = $(this).parents('td').next();
    var current_price  = parseInt(price_cell.html());

    if($(this).is(':checked')) {
      price_cell.html(current_price + book_price)
    }
    else {
      price_cell.html(current_price - book_price) 
    }

    $('.participants_table_wrapper #total_price').html(calculate_total_price());

  });

 // Functions

  function copy_person_attribute(attr, from,to){
    var source      = $('.'+from+'_wrapper').find('input[name*="'+attr+'"]').first();
    var destination = $('.'+ to +'_wrapper').find('input[name*="'+attr+'"]').first();
    destination.val(source.val());
  }

  function decrement_indexes(removed_row){
    removed_row.nextAll('tr').each( function(){
      var index_cell = $(this).find('td.no');
      var current_value = parseInt(index_cell.html());
      index_cell.html(current_value-1);
    });
  }

  function calculate_total_price(){
    var sum = 0;
    $('.participants_table_wrapper').find('table tr[style!="display: none; "]').each( function(){
      var td = $(this).find('td.price');
      if (td.length > 0) sum+= parseFloat(td.html());
    });
    return sum;
  }
});